<div class="row">
    <div class="col-xs-12 list-group">
        <h1 class="list-group-item-heading">{{post.title}}<span class="pull-right">Crée le: {{ post.createdAt | date: 'MM/dd/yyyy, hh:mm a'}}</span></h1>
        <p class="list-group-item-text">{{post.content}}</p>
       <!-- TODO: Add (click) function -->
        <button class="btn btn-success" 
                (click)="onLove()">I Love it !!</button>
                <span>{{' '+post.love+' '}}</span>
        <button class="btn btn-danger" 
                (click)="onHate()">I Hate it !!</button>

        <button class="btn btn-default"
                (click)="onBack()"> Retour </button>
    </div>
</div>