<div class="row">
        <div    class="col-xs-12 list-group-item"
                [ngStyle]="{backgroundColor: getColor(), color: getColorText()}">
                <div class="list-group-item-text pull-right"> {{ post.createdAt | date: 'MM/dd/yyyy, hh:mm a' }} </div>
                <h2> {{post.title}} </h2>
                <p> {{post.content}}</p>
                <button class="btn btn-success" (click)="onAction(1)">I Love it !!</button><span> {{post.loveIts}} </span>
                <button class="btn btn-danger" (click)="onAction((-1))">I Hate it !!</button>
                <div    class="pull-right btn btn-default"
                        (click)="onBack()"> Retour </div>
        </div>
</div>